<div class="w-full h-full flex flex-col justify-center items-center">
  <div class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0 flex flex-col justify-center items-center">
      <div class="fill-current text-center">
        <!-- <img class="w-40" src="imgfutura" /> -->
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Bem Vindo</h2>
      <h4 class="text-secondary">
        Entre com as suas credenciais abaixo.
      </h4>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="p-6 flex flex-col gap-4">
      <div class="flex flex-auto flex-col">
        <mat-form-field>
          <mat-label>E-Mail</mat-label>
          <input formControlName="email" matInput required />
          <mat-error *ngIf="loginForm.get('email').hasError('required')">O E-mail é obrigatório</mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">O E-mail é inválido</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input [type]="inputType" formControlName="password" matInput required />
          <button (click)="toggleVisibility()" mat-icon-button matSuffix [matTooltip]="visibilityInfo" type="button">
            <mat-icon>{{visibilityIcon}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">A Senha é obrigatória</mat-error>
        </mat-form-field>
      </div>

      <button type="submit" color="primary" mat-raised-button [class.spinner]="submittingForm"
        [disabled]="loginForm.invalid || submittingForm">
        Acessar
      </button>

      <p class="register-link">
        Não é associado? <button mat-button type="button" color="primary" routerLink="/register">Registre-se</button>
      </p>
    </form>
  </div>
</div>